@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-image {
  background-image: url('./images/hero2.jpg'); /* This points to the public folder */
  background-size: cover;
  background-position: center;
}

.bg-dark-blue {
  background-color: 	#398564;
}

body {
  font-family: 'Century Gothic', sans-serif;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
